#Fill out this file with actual login hashes and watch hashes and rename it to "secret.py"
#You can add as many watches as you like.
client_id = "VERY SECRET HASH"
client_secret = "VERY SECRET HASH" 

#Token table. Fetched by reading out the token.yml from the example.
watches = {"watchname1":  {"user_id": "userid goes here", "access_token": "VERY SECRET HASH"},
           "watchname2":  {"user_id": "userid goes here", "access_token": "VERY SECRET HASH"},
           "watchname3":  {"user_id": "userid goes here", "access_token": "VERY SECRET HASH"},
           "watchname4":  {"user_id": "userid goes here", "access_token": "VERY SECRET HASH"}}